<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>IFPE | <%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="icon" href="/img/ifpe-nova.png" type="image/x-icon" > 
    <link rel= "stylesheet" href="/css/style.css">

</head>

<body>
    <%- include("nave.ejs") %>
    <div class="container">