<%- include("partials/heards.ejs") %>


 
    
     <br> <h1>Sistema Gerenciador de Alunos</h1>
      <hr>
      <h5>Bem Vindo!!!</h5><br>
      <h5>Sistema Desenvolvido por estudantes do campus IFPE de Afogados da Ingazeira.</h5><br>
      <h5>Tem como objetivo ajudar o gerenciamente de alunos na instituição IFPE.</h5>
     
    <!--<img src="/img/imagem.png"alt="">-->
    <br>
    <div>
      <%= msg %>
      
      <%- include("partials/footer.ejs") %>