<%- include("partials/heards.ejs") %>


 
    
      <h1>Informações</h1>
      <hr>
      <h5>Equipe:<br>
                Bárbara Naiane Barbosa Queiroz <br>
                Carlos Vitor Freitas Santos <br>
                João Lucas Marques de Almeida <br>
      </h5><br>
     
   
    <br>
    <div>
      
      
      <%- include("partials/footer.ejs") %>